#Title
{
	text-align:center;
	text-decoration:underline;
	color: white;
}
body
{
	overflow: hidden;
	background-color: #000000;
}
/*Set background underneath other objects*/
#background
{
	position:absolute;
	width:100%;
	height:100%;
	top: 0%;
	z-index:-2;
}
/*CS logos are place at bottom right and left corners*/
#cs_logo
{
	position: absolute;
	left: 0%;
	bottom: 0%;
}
#cs_logo2
{
	position: absolute;
	right: 0%;
	bottom: 0%;
}
/*Button table place center screen*/
#ButtonTable
{
	position:absolute;
	top:55%;
	left: 43%;
	border-collapse:collapse;
}
#ButtonTable tr td
{
	text-align: center;
	vertical-align:middle;
	background-color: red;
	height: 80px;
	width: 130px;
	/*border-radius: 5px;*/
	border-radius: 0%;
	font-family: Verdana, Arial, Sans-Serif;
	text-decoration:none;
	border: 2px solid black;
	opacity: 0.8;
	font-weight: bold;
	cursor:pointer;
	background-clip: padding-box
}
#uml_logo
{
	position: absolute;
	top: 9%;
	right: 45%;
	width: 9%;
	height: 19%;
	border: 2px solid black;
}
#mario
{
	position:absolute;
	width:4%;
	height:7%;
	top:83%;
	left:6%;
	z-index:-1;
	visibility: hidden;
}




